.card-stat {
  padding: 2rem;
  border: 1px solid rgb(195, 191, 191);
  border-radius: 0.5rem;
  background: white;
    box-shadow:
        4px 4px 12px rgba(0, 0, 0, 0.029),
       -4px -4px 12px rgb(250, 250, 250);
}