
p{
    margin-block-start: 0;
    margin-block-end: 0;
}
h4{
    margin-block-start: 0;
    margin-block-end: 0;
}

.doctor-card{
    width: 95%; 
    margin: auto; 
}
.doctor-card-ul{
    
}
.doctor-card-ul li{
    list-style: none;
     box-shadow: 0 0 15px rgba(176, 175, 175, 0.7);
}

.button-card-doctor{
padding: 0.6rem;
border-radius: 0.4rem;
}
