p {
  margin-block-start: 0;
  margin-block-end: 0;
}
h4 {
  margin-block-start: 0;
  margin-block-end: 0;
}

.doctor-card {
  margin: auto;
}

.doctor-card-ul {
  gap: 1rem;
}

.doctor-card-ul::-webkit-scrollbar {
  height: 8px;
}

.doctor-card-ul li {
  list-style: none;
  box-shadow: 0 0 15px rgba(176, 175, 175, 0.7);
}

.button-card-doctor {
  padding: 0.6rem;
  border-radius: 0.4rem;
}

@media (min-width: 300px) and (max-width: 800px) {
  .doctor-card {
    width: 98%
  }

  .doctor-card-ul::-webkit-scrollbar {
  height: 8px;
}
}
