#FindYourDoctor-button:hover {
    color: #E9F5FF !important;
    background-color: #1A5799;
}

#FindYourDoctor-button:hover i {
    color: #E9F5FF !important; 
    transform: translateY(-5px);
    transition: all 0.3s ease;
}

#BookNow-button:hover i {
    transform: translateY(-5px);
    transition: all 0.3s ease;
}

#FindYourSpecialist-button:hover {
    transform: translateY(-5px);
    transition: all 0.3s ease;
}